- "use strict"
doctype html
html
  head
    title Your basic web app structure
  body
    - var today = new Date()
    - var cursor = new Date(today.getFullYear() - 1, 0)
    - var lastYear = cursor.getFullYear()
    - for (; cursor.getFullYear() < lastYear + 2; ) {
      - var year = cursor.getFullYear();
      - for (; cursor.getFullYear() == year; ) {
          - var month = cursor.getMonth()
          h1.mohth(id="#{year}-#{month+1}") #{year}/#{month + 1}
          - for (; cursor.getMonth() == month; cursor.setDate(cursor.getDate() + 1)) {
            - var date = cursor.getDate()
            - var dayOfWeek = cursor.getDay()
            p(id="#{year}-#{month+1}-#{date}",
              class="week_#{dayOfWeek}")
              | #{date}
          - }
      - }
    - }
